ul {
    list-style-type: none;
}

body {
    padding: 40px;
    display: grid;
    grid-template: 1fr 9fr / 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
}

.header {
    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.welcome-cell {
    justify-self: start;
}

.main-content {
    display: grid;
    grid-template: auto 1fr / 4fr 1fr;
    gap: 20px;
}

/* Projects */

.your-projects {
    grid-row: 1 / 3;
}

.projects-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.project {
    display: grid;
}

.project-buttons {
    justify-self: end;
}

