.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

img {
    display: inline-block;
    vertical-align: middle;
}

body {
    /* padding: 40px; */
    margin: 0px;
    display: grid;
    grid-template: minmax(auto, 20%) 1fr / 1fr 5fr;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / 3;

    background-color: rgb(13, 154, 230);
    padding: 20px;
    color: rgb(238, 238, 238);
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar img {
    max-width: 30px;
    
    filter: invert(1);
}

.sidebar > div > img {
    max-width: 45px;
}

.sidebar h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 2.2ch;
}

.sidebar p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/* Header */

.header {
    display: grid;
    grid-template: auto auto / 3fr 2fr;
    gap: 8px;
    justify-items: center;
    align-items: center;
    padding: 8px 20px;

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.152);
    z-index: 1;
}

.header p, button {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

.header img {
    width: 20px;
    height: auto;
}

.search-cell {
    margin-left: 70px;
}

.search-bar {
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 25px;
    
    background-color: rgba(128, 128, 128, 0.46);
    border-radius: 999px;
    border: 0px solid rgba(0,0,0,0.1);
}

.profile-cell button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 2ch;
    cursor:pointer;
    font-weight: bold;
}

.profile-cell input {
    width: 50px;
    vertical-align: middle;
    border-radius: 50px;
}

.profile-cell img {
    margin-right: 20px;
}

.welcome-cell {
    justify-self: start;
    margin-left: 20%;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template: auto auto / 1fr 2fr;
}

.welcome-cell img {
    width: 50px;
    border-radius: 50px;

    grid-row: 1 / 3;
}

.welcome-cell p, img{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttons-cell {
    justify-self: end;
    margin-right: 20%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.buttons-cell button {
    appearance: none;
    border: none;
    background-color: rgb(13, 154, 230);
    border-radius: 20px;
    width: 100px;
    height: 32px;
    font-size: 2ch;
    cursor: pointer;
    color: white;
    font-weight: 1000;
}


/* Main Content */

.main-content {
    display: grid;
    /* narrower projects column so announcements sit closer */
    grid-template: auto 1fr / 2fr 1fr;
    gap: 6px;

    background-color: rgb(225, 235, 243);
}

.main-content * {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Reduce text sizes throughout main content */
.main-content h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.main-content h3 {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
}

.announcements h3 {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}

.project p {
    font-size: 0.8rem;
    line-height: 1.2;
    color: #555;
}

.announcements-container p {
    font-size: 0.6rem;
    color: #666;
    margin-bottom: 0.8rem;
}

.trending p:first-child {
    font-size: 0.5rem;
    margin-bottom: 0;
}

.trending p:last-child {
    font-size: 0.45rem;
    color: #666;
}

/* Projects */

.your-projects {
    grid-row: 1 / 3;
    margin: 12px;
}

.projects-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 16px;
    margin: 16px;
}

.project {
    display: grid;
    padding: 10px 10px 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.105);
    width: 90%;
    min-height: 100px;
    height: auto;
    position: relative;
}

.project::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #FFD740;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.03) inset;
}

.project * {
    margin: 5px;
    
}

.project-buttons {
    justify-self: end;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    width: 100px;
    height: auto;
}

/* Announcements */

.announcements {
    margin: 12px 20px 0 0;
}

.announcements-container, .trending-container {
    padding: 6px 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.105);
    width: 180px;
    height: auto;
}

/* Trending  */

.trending {
    margin: 12px 20px 0 0;
}

.trending img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 999px;
    display: inline-block;
    vertical-align: middle;
}

.trending-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}