.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

body {
    /* padding: 40px; */
    margin: 0px;
    display: grid;
    grid-template: 1fr 9fr / 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;

    background-color: rgb(13, 154, 230);
    padding: 20px;
    color: rgb(238, 238, 238);
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar img {
    max-width: 30px;
    display: inline-block;
    vertical-align: middle;

    filter: invert(1);
}

.sidebar > div > img {
    max-width: 40px;
}

.sidebar h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 2.2ch;
}

.sidebar p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.header {
    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    gap: 20px;
    justify-items: center;
    align-items: center;

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.152);
    z-index: 1;
}

.welcome-cell {
    justify-self: start;
}

.main-content {
    display: grid;
    grid-template: auto 1fr / 4fr 1fr;
    gap: 20px;

    background-color: rgb(225, 235, 243);
}

/* Projects */

.your-projects {
    grid-row: 1 / 3;
}

.projects-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.project {
    display: grid;
}

.project-buttons {
    justify-self: end;
}

